* {
    background-color: #4A4C4E;
    font-family: 'Teko', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FA9C1D;
    color: white;
    text-align: center;
}

.navbar-brand {
    font-size: 36pt;
}


/* 

Overwatch colors:
#FA9C1D (Orange)
#FFFFFF (White)
#4A4C4E (Grey)

*/