.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('https://static.playoverwatch.com/img/pages/maps/images/dorado.jpg');
    width: 1920px;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    color: #FFFFFF;
    overflow: auto;
    position: fixed;
    left: 9%;
    right: 0;
    z-index: 4;
    margin: 30px 20px;
    
}

h1 {
    font-size: 46pt;
    font-style: 'Teko', sans-serif;
}

h3 {
    font-size: 30pt;
}

.levelFrame {
    position: fixed;
    z-index: 2;
    top: 234px;
    left: 100px;
    display: block;
    width: 200px;
    height: 200px;
}

.level {
    top: 313px;
    left: 188px;
    position: fixed;
    z-index: 3;
}

.left-stats {
    top: 313px;
    left: 188px;
    position: fixed;
}

.right-stats {
    top: 313px;
    right: 188px;
    position: fixed;
}