.background-image {
    z-index: 1;
    background-image: url('../../assets/blurred_background.png');
    background-position: center;
    width: 1920px;
    height: 800px;
}

.content {
    padding: 5%;
    color: #FFFFFF;
    font-family: 'Teko', sans-serif;
}

h1 {
    font-size: 60pt;
    font-style: 'Teko', sans-serif;
}

h3 {
    font-size: 36pt;
}

.levelFrame {
    z-index: 1;
    width: 200px;
    height: 200px;
}

.level {
    position: fixed;
    z-index: 5;
}

.right {
    vertical-align: bottom;
}

.row {
    vertical-align: bottom;
}
