<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <span class="navbar-brand">
    <a class="nav-link" [routerLink]="['/']" style="color: #ffffff;">
      <img src="../assets/OW_Logo_Full_White.png" alt="Overwatch_logo.png" style="width: 100px;">
      Overwatch Stats
    </a>
    </span>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
      <!-- TODO : TAKE THIS OUT AFTER WORKING -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/beta']">Beta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/chart']">Line Chart</a>
      </li>
      <li class="nav-item">
        <!-- Modal link -->
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">How to</a>
      </li>
    </ul>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How to use this site</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Enter your BattleTag into the search bar</li>
            <li>???</li>
            <li>Profit!</li>
          </ul>
        </div>
        <div class="modal-footer">
          <h2>Need an example?</h2>
          <h3>Use Jesseyo#11148</h3>
        </div>
      </div>
    </div>
  </div>

</nav>
<!-- End Navbar -->

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container">
  
  <div class="text-center">
    <h1>Enter your BattleTag</h1>
    <form (submit)="submit()">
      <p>
        <input type="text" name="name" [(ngModel)]="player.name" placeholder="Jesseyo"/>
        <span style="font-size: 20pt;"> # </span>
        <input type="text" name="number" [(ngModel)]="player.number" placeholder="11148"/>
        <button type="submit" class="btn btn-orange">Go!</button>
      </p>
    </form>
  </div>
  
  <div class="row">
    <div class="col-6">
      <h1>Recent Searches<div class="underline"></div></h1>
      <table>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Links</th>
        </tr>
        <tr *ngFor="let player of recentSearches; index as i">
          <td> {{ i + 1 }} </td>
          <td>{{ player.name }}#{{ player.number }}</td>
          <td><a href="https://playoverwatch.com/en-us/career/pc/{{player.name}}-{{player.number}}">PlayOverwatch Profile</a></td>
        </tr>
      </table>
    </div>
  
    <div class="col-6">
      <h1>Information<div class="underline"></div></h1>
      <p>
        This is a collaborative student project between <a href="https://github.com/aprosk">Alex Proskuryakov</a> & <a href="https://github.com/Jesseyoo">Jesse Appleton</a> while attending Coding Dojo.
        We both have an interest in the game and wanted some experience with git and version control.
      </p>
      <h3>
        Main technologies used:
      </h3>
      <ul class="techs">
        <li><a href="https://www.npmjs.com/package/overwatch-api">Overwatch-api</a></li>
        <li>MongoDb</li>
        <li>Express</li>
        <li>Angular</li>
        <li>Node.js</li>
        <li>Chart.js</li>
        <li>Bootstrap</li>
      </ul>
      <br><br>
    </div>
    
  </div>
    
  <div class="footer">
    <em>© 2019 Alex Proskuryakov & Jesse Appleton </em>
  </div>

</div>