* {
    font-family: 'Teko', sans-serif;
    /* 

    Overwatch colors:
    #FA9C1D (Orange)
    #FFFFFF (White)
    #4A4C4E (Grey)

    */
}

.navbar {
    background-color: #4A4C4E;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FA9C1D;
    color:#4A4C4E;
    text-align: center;
}

.navbar-brand {
    font-size: 46pt;
}

.nav-item {
    font-size: 20pt;
}

h1 {
    font-style: italic;
    border-bottom: 2px solid #FA9C1D 1px solid #4A4C4E;
}

h3 {
    font-style: italic;
}

p {
    font-size: 14pt;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 15pt;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

