<button *ngIf="!boost" (click)="changeData(2000)">Boost My Ego</button>
<button *ngIf="boost" (click)="changeData(-2000)">Back to Reality</button>
<div id="container-container">
  <div id="chart-container" style="display: block;">
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
